{
  "extends": ["react-app"],
  "plugins": ["prettier", "eslint-plugin-react"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "no-var": "error",
    "camelcase": ["error", { "properties": "never" }],
    "react/jsx-fragments": ["error", "element"],
    "import/no-webpack-loader-syntax": "off"
    }
}
