.Home {
  text-align: center;
}

.HomeLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .HomeLogo {
    animation: home-logo-float infinite 3s ease-in-out;
  }
}

.HomeHeader {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.HomeLink {
  color: rgb(112, 76, 182);
}

@keyframes home-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.todo {
  width: auto;
  text-align: left;
  margin: 16px;
}