@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@function spacing($multiplier: 1) {
  @return calc(var(--spacing) * #{$multiplier});
}

:root {
  // spacing and shape
  --spacing: 4px;
  --shape-border-radius: 3px;

  // typography
  --typography-font-family-serif: 'Lora', serif;
  --typography-font-family-sans-serif: 'Open Sans', sans-serif;
  --typography-font-weight-bold: 700;
  --typography-font-weight-regular: 400;

  --typography-h1-font-weight: var(--typography-font-weight-bold);
  --typography-h1-font-size: 43.94px;
  --typography-h1-line-height: 52px;

  --typography-h2-font-weight: var(--typography-font-weight-bold);
  --typography-h2-font-size: 35.16px;
  --typography-h2-line-height: 44px;

  // palette
  --palette-white: #FFFFFF;
  --palette-transparent-white: rgba(var(--palette-white), 0.95);

  --palette-light-bg: var(--palette-white);
  --palette-light-pink: #E556A2;
  --palette-light-green: #48EC95;
  --palette-light-grey: #A9A2AF;
  --palette-light-dark: #453751;

  --palette-dark-bg: #3E3249;
  --palette-dark-pink: #FF82C3;
  --palette-dark-green: #48EC95;
  --palette-dark-grey: #F0E5F7;
  --palette-dark-dark: #2C2435;

  // component
  --component-layout-max-width: 640px; 
}

@media (min-width: 960px) {
  :root {
    // typography
    --typography-h1-font-size: 68.66px;
    --typography-h1-line-height: 80px;

    --typography-h2-font-size: 43.94px;
    --typography-h2-line-height: 52px;

    // component
    --component-layout-max-width: 1024px;
  }
}

body {
    margin: 0;
    font-family: var(--typography-font-family-sans-serif);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@supports (font-size-adjust: 1) {
  html, body {
    font-size-adjust: 0.5;
  }
}

h1 {
  font-family: var(--typography-font-family-serif);
  font-size: var(--typography-h1-font-size);
  font-weight: var(--typography-h1-font-weight);
  line-height: var(--typography-h1-line-height);
}

h2 {
  font-family: var(--typography-font-family-serif);
  font-size: var(--typography-h2-font-size);
  font-weight: var(--typography-h2-font-weight);
  line-height: var(--typography-h2-line-height);
}


